.product-value {
    .selector {
        float: left;
        width: 24px;
        min-width: 24px;
        font-size: 1em;
    }
    
    .price {
        float: right;
        text-align: right;
        width: 68px;
    }
    
    * {
        cursor: pointer;
    }
}

.product-value.read-only {
    * {
        cursor: inherit;
    }
}
