.product-picker
    // Left side ... list of choices ...
    .product-picker-list
        h4.product-picker-heading
            span(
                ng-bind = "productPicker.getHeading()"
            ) A.
            | &nbsp;
        
        h4.product-picker-title(
            translate = "{{productPicker.getProductCode()}}"
        ) Membership

        .clearfix(
             csrs-product-variable-picker = "productVariable"
             csrs-parent = "productPicker"
             csrs-price-picked = "productPicker.pricePicked"
             ng-repeat = "productVariable in productPicker.productVariables | orderBy: 'order' track by productVariable.id"
        ) 

    // Right side ... shows what we've picked ...
    .price-container
        .price-box(
            csrs-animate-on-change = "productPicker.pricePicked.priceInCents"
        )
            .price(
                ng-bind = "productPicker.pricePicked.priceInCents | price"
            ) $100

