.product-variable
    em(
        ng-hide = "productVariablePicker.getImpliedBy()"
        translate = "global.form.select"
        translate-values = JSON.stringify({
            'type': '{{productVariablePicker.productVariable.code | translate}}'
        })
    ) Select Membership type
    
    em(
        ng-show = "productVariablePicker.getImpliedBy()"
        translate = "{{productVariablePicker.productVariable.code}}"
    ) Membership type
    
.clearfix(
    csrs-product-value-picker = "productValue"
    csrs-selected = "productVariablePicker.productValuePicked === productValue"
    csrs-price = "{{productVariablePicker.productPicker.priceForProductValue(productValue, $index === 0)}}"
    csrs-price-picked = "productVariablePicker.pricePicked"
    ng-repeat = "productValue in productVariablePicker.productVariable.productValues | orderBy: 'order' track by productValue.id"
)

