.product-value(
        ng-class = "{'read-only': productValuePicker.readOnly}"
    )
    .selector(
        ng-click = "productValuePicker.selectClicked()"
    )
        span(
            ng-show = "productValuePicker.selected"
            class = "glyphicon glyphicon-ok"
        )
        span(
            ng-hide = "productValuePicker.selected"
        ) &nbsp;

    .price(
        ng-click = "productValuePicker.selectClicked()"
        ng-bind = "productValuePicker.price"
    ) 100

    .description
        a(
            ng-if = "!productValuePicker.readOnly"
            translate = "{{productValuePicker.productValue.code}}" 
            ng-click = "productValuePicker.select()"
            ng-class = "{'text-bold': productValuePicker.selected}"
        ) Regular member
        span(
            ng-if = "productValuePicker.readOnly"
            translate = "{{productValuePicker.productValue.code}}" 
            ng-class = "{'text-bold': productValuePicker.selected}"
        ) Regular member

