server:
    port: 10344
    address: localhost


# security configuration (this key should be unique for your application, and kept secret)
jhipster.security.rememberme.key: # Enter long hex key

async:
    corePoolSize: 2
    maxPoolSize: 50
    queueCapacity: 10000

spring:
    datasource:
        # The app relies on Postgres-specific stuff
        dataSourceClassName: org.postgresql.ds.PGSimpleDataSource
        url: 
        databaseName: # Database name for *testing*
        serverName: localhost
        username: # username for *testing*
        password: # password for *testing*

    jpa:
        database-platform: org.hibernate.dialect.PostgreSQL82Dialect
        database: POSTGRESQL 
        openInView: false
        show_sql: true
        generate-ddl: false
        hibernate:
            ddl-auto: none
            naming-strategy: org.hibernate.cfg.EJB3NamingStrategy
        properties:
            hibernate.cache.use_second_level_cache: false
            hibernate.cache.use_query_cache: false
            hibernate.generate_statistics: true
            hibernate.hbm2ddl.auto: validate

    mail:
        # Adjust as needed for test environment
        host: localhost
        port: 25
        user:
        password:
        protocol: smtp
        tls: false
        auth: false

metrics:
    jmx.enabled: false

swagger:
    apiDocsLocation: http://localhost:8080
    title: jhipster API
    description: jhipster applications and beyond!
    termsOfServiceUrl: http://jhipster.github.io/
    contact:
    license: Apache 2.0
    licenseUrl: http://www.apache.org/licenses/LICENSE-2.0.html
