<div class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form name="deleteForm" ng-submit="doAction()">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" translate="{{modalTitle}}">Modal Title</h4>
                </div>

                <div class="modal-body" ng-transclude />
                
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                    </button>

                    <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
                        <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="{{actionTitle}}">Action</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
