<div csrs-modal>
    <div class="modal-header">
        <button type="button" class="close" aria-hidden="true" ng-click="renewalForm.cancel()">&times;</button>
        <h3 class="modal-title" id="modal-label" translate="csrsApp.renewal.title">Join or Renew for ...</h3>
    </div>

    <div class="modal-body">
        <div csrs-product-group="renewalForm.products"
             csrs-prices-picked="renewalForm.pricesPicked"></div>

        <div csrs-error-occurred="renewalForm.error"></div>    
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="renewalForm.cancel()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>

        <button type="button" class="btn btn-success" ng-click="renewalForm.saveRenewal()">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</div>
