<div csrs-modal>
    <div class="modal-header">
        <button type="button" class="close" aria-hidden="true" ng-click="renewalForm.cancel()">&times;</button>
        <h3 class="modal-title" id="modal-label" translate="csrsApp.renewal.title">Join or Renew for ...</h3>
    </div>

    <div class="modal-body">
        <table style="width: 100%; table-layout: fixed;">
            <colgroup>
                <col style="width: 24px;" />
                <col />
                <col style="width: 68px;" />
                <col style="width: 88px;" />
            </colgroup>

            <tr>
                <td class="text-right">
                    <h4>A.&nbsp;</h4>
                </td>

                <td>
                    <h4 translate="csrsApp.renewal.membership">Membership</h4>
                </td>

                <td><!-- blank --></td>

                <td rowspan="{{renewalForm.prices.membership.length + 1}}"> 
                    <div class="text-right flip-change"
                         csrs-animate-on-change="renewalForm.price.a"
                         style="vertical-align: middle; 
                                border: 2px solid black;
                                margin-top: 24px;
                                margin-left: 18px;
                                padding: 12px;">
                        <b ng-bind="renewalForm.price.a / 100 | currency : '$ ' : 0">100</b>
                    </div>
                </td>
            </tr>

            <tr ng-repeat="option in renewalForm.prices.membership">
                <td ng-click="renewalForm.renewal.membership = option.code" style="cursor: pointer;">
                    <span ng-show="renewalForm.renewal.membership == option.code" class="glyphicon glyphicon-ok" style="font-size: 1em"></span> 
                </td>
                
                <td>
                    <a ng-click="renewalForm.renewal.membership = option.code" 
                    translate="csrsApp.annual.data.membership.{{option.code}}"
                    ng-class="{'text-bold': renewalForm.renewal.membership == option.code}">Membership type</a>
                </td>

                <td ng-click="renewalForm.renewal.membership = option.code"
                    style="cursor: pointer;"
                    ng-bind="option.price / 100 | currency : ($first ? '$ ' : ' ') : 0" class="text-right">100</td>
            </tr>

            <tr>
                <td class="text-right" style="vertical-align: top;">
                    <h4>B.&nbsp;</h4>
                </td>

                <td colspan="2">
                    <h4 translate="csrsApp.renewal.rr.subscription">Subscription to Renaissance and Reformation</h4>
                </td>

                <td rowspan="{{renewalForm.prices.rr.length + 2}}">
                    <div class="text-right flip-change" 
                         csrs-animate-on-change="renewalForm.price.b"
                         style="vertical-align: middle; 
                                border: 2px solid black;
                                margin-top: 6px;
                                margin-left: 18px;
                                padding: 12px;">
                        <b ng-bind="renewalForm.price.b / 100 | currency : '$ ' : 0">100</b>
                    </div>
                </td>
            </tr>

            <tr ng-repeat="option in renewalForm.prices.rr">
                <td><!-- blank --></td>

                <td translate="csrsApp.renewal.rr.prices.{{option.code}}">All members</td>

                <td ng-bind="option.price / 100 | currency : ' ' : 0" class="text-right">100</td>
            </tr>

            <tr>
                <td colspan="3" class="text-center">
                    <div class="btn-group" style="margin-top: 6px;">
                        <button type="button"
                                ng-click="renewalForm.renewal.rr = 1"
                                ng-class="{
                                    'btn': true, 
                                    'btn-sm': true, 
                                    'btn-primary': renewalForm.renewal.rr == 1,
                                    'btn-default': renewalForm.renewal.rr != 1
                                }"
                                translate="csrsApp.annual.data.rr.1">Print</button>
                        
                        <button type="button" 
                                ng-click="renewalForm.renewal.rr = 2"
                                ng-class="{
                                    'btn': true,
                                    'btn-sm': true, 
                                    'btn-primary': renewalForm.renewal.rr == 2,
                                    'btn-default': renewalForm.renewal.rr != 2
                                }"
                                translate="csrsApp.annual.data.rr.2">Electronic</button>
                        
                        <button type="button"
                                ng-click="renewalForm.renewal.rr = 0"
                                ng-class="{
                                    'btn': true,
                                    'btn-sm': true, 
                                    'btn-primary': renewalForm.renewal.rr == 0,
                                    'btn-default': renewalForm.renewal.rr != 0
                                }" 
                                translate="csrsApp.renewal.rr.noThanks">Do not subsscribe</button>
                    </div>
                </td>
            </tr>

            <tr>
                <td class="text-right">
                    <h4>C.&nbsp;</h4>
                </td>

                <td>
                    <h4 translate="csrsApp.renewal.iter.subscription">Subscription to Iter</h4>
                </td>

                <td><!-- blank --></td>

                <td rowspan="{{renewalForm.prices.iter.length + 2}}">    
                    <div class="text-right flip-change" 
                         csrs-animate-on-change="renewalForm.price.c"
                         style="vertical-align: middle; 
                                border: 2px solid black;
                                margin-top: 6px;
                                margin-left: 18px;
                                padding: 12px;">
                        <b ng-bind="renewalForm.price.c / 100 | currency : '$ ' : 0">100</b>
                    </div>
                </td>
            </tr>

            <tr ng-repeat="option in renewalForm.prices.iter">
                <td><!-- blank --></td>

                <td translate="csrsApp.renewal.iter.prices.{{option.code}}">All members</td>

                <td ng-bind="option.price / 100 | currency : ' ' : 0" class="text-right">100</td>
            </tr>

            <tr>
                <td colspan="3" class="text-center">
                    <div class="btn-group" style="margin-top: 6px;">
                        <button type="button" 
                                ng-click="renewalForm.renewal.iter = true"
                                ng-class="{
                                    'btn': true,
                                    'btn-sm': true, 
                                    'btn-primary': renewalForm.renewal.iter,
                                    'btn-default': !renewalForm.renewal.iter
                                }"
                                translate="csrsApp.renewal.iter.subscribe">Subscribe</button>
                        
                        <button type="button"
                                ng-click="renewalForm.renewal.iter = false"
                                ng-class="{
                                    'btn': true,
                                    'btn-sm': true, 
                                    'btn-primary': !renewalForm.renewal.iter,
                                    'btn-default': renewalForm.renewal.iter
                                }" 
                                translate="csrsApp.renewal.iter.noThanks">Do not subsscribe</button>
                    </div>
                </td>
            </tr>

            <tr>
                <td class="text-right">
                    <h4>D.&nbsp;</h4>
                </td>

                <td colspan="2">
                    <h4 translate="csrsApp.renewal.subtotal">Subtotal</h4>
                </td>
                
                <td rowspan="2">
                    <div class="text-right flip-change" 
                         csrs-animate-on-change="renewalForm.price.d"
                         style="vertical-align: middle; 
                                border: 4px solid black;
                                margin-top: 6px;
                                margin-left: 18px;
                                padding: 12px;">
                        <b ng-bind="renewalForm.price.d / 100 | currency : '$ ' : 0">100</b>
                    </div>
                </td>
            </tr>

            <tr>
                <td><!-- blank --></td>
                <td colspan="2">
                    <b translate="csrsApp.renewal.forOneYear">For a one year membership, the amount due is:</b>

                    <div class="text-center" style="margin-top: 6px">
                        <button type="button" 
                                ng-click="renewalForm.renewal.duration = 1"
                                ng-class="{
                                    'btn': true,
                                    'btn-primary': renewalForm.renewal.duration == 1,
                                    'btn-default': renewalForm.renewal.duration != 1
                                }"
                                translate="csrsApp.renewal.renewForOneYear">Renew for one year</button>
                    </div>
                </td>
            </tr>

            <tr>
                <td class="text-right">
                    <h4>E.&nbsp;</h4>
                </td>

                <td colspan="2">
                    <h4 translate="csrsApp.renewal.multiYear">Multi-year option</h4>
                </td>
            </tr>

            <tr>
                <td><!-- blank --></td>
                
                <td colspan="2" translate="csrsApp.renewal.forThreeYears">For the three-year option, multiply the Subtotal in Box D by three:</td>

                <td>
                    <div class="text-right bounce-change" 
                         csrs-animate-on-change="renewalForm.price.e"
                         style="padding-right: 12px"
                         ng-bind="renewalForm.price.d * 3 / 100 | currency : '$ ' : 0">$200</div>
                </td>
            </tr>

            <tr>
                <td><!-- blank --></td>
                
                <td colspan="2" translate="csrsApp.renewal.subtract">Subtract $30 for regular members or $15 for all other members</td>
                
                <td>
                    <div class="text-right" style="padding-right: 12px">
                        <span ng-show="renewalForm.renewal.membership == 2">- 30</span>
                        <span ng-hide="renewalForm.renewal.membership == 2">- 15</span>
                    </div>
                </td>
            </tr>

            <tr>
                <td><!-- blank --></td>
                
                <td colspan="2">
                    <b translate="csrsApp.renewal.threeYearTotal">Total Due for Three-year Membership and Subscriptions</b>
                    
                    <div class="text-center" style="margin-top: 6px">
                        <button type="button" 
                                ng-click="renewalForm.renewal.duration = 3"
                                ng-class="{
                                    'btn': true,
                                    'btn-primary': renewalForm.renewal.duration == 3,
                                    'btn-default': renewalForm.renewal.duration != 3
                                }"
                                translate="csrsApp.renewal.renewForThreeYears">Renew for three years</button>
                    </div>
                </td>

                <td>
                    <div class="text-right flip-change" 
                         csrs-animate-on-change="renewalForm.price.e"
                         style="border: 4px solid black;
                                margin-left: 18px;
                                padding: 12px;">

                        <b ng-bind="renewalForm.price.e / 100 | currency : '$ ' : 0">$170</b>
                    </div>
                </td>
            </tr>
            
            <tr>
                <td class="text-right">
                    <h4>F.&nbsp;</h4>
                </td>

                <td colspan="2">
                    <h4 translate="csrsApp.renewal.yourTotal">Total for Your Selections</h4>
                </td>
                
                <td rowspan="5">
                    <div class="text-right flip-change" 
                         csrs-animate-on-change="renewalForm.price.f"
                         style="vertical-align: middle; 
                                border: 4px solid #5cb85c;
                                margin-top: 6px;
                                margin-left: 18px;
                                padding: 12px;">
                        <b style="color: #5cb85c;" ng-bind="renewalForm.price.f / 100 | currency : '$ ' : 0">100</b>
                    </div>
                </td>
            </tr>

            <tr>
                <td><!-- blank --></td>

                <td csrs-animate-on-change="renewalForm.renewal.membership" class="bounce-change">
                    <span translate="csrsApp.renewal.membership">Membership</span>: 
                    <b translate="csrsApp.annual.data.membership.{{renewalForm.renewal.membership}}">Regular</b>
                </td>

                <td class="text-right bounce-change" 
                    csrs-animate-on-change="renewalForm.price.a"
                    ng-bind="renewalForm.price.a / 100 | currency : '$ ' : 0">100</td>
            </tr>
            
            <tr>
                <td><!-- blank --></td>

                <td csrs-animate-on-change="renewalForm.renewal.rr" class="bounce-change">
                    <span translate="csrsApp.annual.rr">Renaissance and Reformation</span>: 
                    <b ng-show="renewalForm.renewal.rr != 0" translate="csrsApp.annual.data.rr.{{renewalForm.renewal.rr}}">Print</b>
                    <b ng-hide="renewalForm.renewal.rr != 0" translate="csrsApp.renewal.iter.noThanks">No thanks</b>
                </td>

                <td class="text-right bounce-change" 
                    csrs-animate-on-change="renewalForm.price.a"
                    ng-bind="renewalForm.price.b / 100 | currency : ' ' : 0">100</td>
            </tr>
            
            <tr>
                <td><!-- blank --></td>

                <td csrs-animate-on-change="renewalForm.renewal.iter" class="bounce-change">
                    <span translate="csrsApp.annual.iter">Iter</span>: 
                    <b ng-show="renewalForm.renewal.iter" translate="csrsApp.renewal.iter.subscribe">Subcribe</b>
                    <b ng-hide="renewalForm.renewal.iter" translate="csrsApp.renewal.iter.noThanks">No thanks</b>
                </td>

                <td class="text-right bounce-change" 
                    csrs-animate-on-change="renewalForm.price.c"
                    ng-bind="renewalForm.price.c / 100 | currency : ' ' : 0">100</td>
            </tr>
            
            <tr>
                <td><!-- blank --></td>

                <td csrs-animate-on-change="renewalForm.renewal.duration" class="bounce-change">
                    <span translate="csrsApp.renewal.duration">Duration</span>: 
                    <b ng-show="renewalForm.renewal.duration == 1" translate="csrsApp.renewal.oneYear">Renew for one year</b>
                    <b ng-show="renewalForm.renewal.duration == 3" translate="csrsApp.renewal.threeYears">Renew for three years</b>
                </td>

                <td><!-- blank --></td>
            </tr>
        </table>

        <div csrs-error-occurred="renewalForm.error"></div>    
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="renevalForm.cancel()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>

        <button type="button" class="btn btn-success" ng-click="renewalForm.save()">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</div>
