<div class="row">
    <div class="col-xs-12">
        <div csrs-error-occurred="settingsController.contactsError"></div>
    
        <div ng-show="settingsController.gotContacts">
            <div ng-show="settingsController.contacts.length > 0">
                <div ng-repeat="contact in settingsController.contacts">
                    <div class="panel panel-default">
                        <div class="panel-heading clearfix">
                            <h3 class="panel-title" translate="csrsApp.processForms.contactInformation">Contact Information</h3>
                        </div>

                        <div class="panel-body">
                            <div csrs-contact-label="contact"></div>
                        </div>

                        <div class="panel-footer">
                            <button class="btn btn-primary btn-sm pull-right" ng-click="settingsController.startEditing(contact)">
                                <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit">Edit</span>
                            </button>
                            <div class="clearfix" style="vertical-align: middle;" translate="csrsApp.contact.home.pleaseEdit">Please edit if needed.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div ng-hide="settingsController.contacts.length > 0">
                <p translate="csrsApp.contact.home.pleaseProvide">Please provide your contact information.</p>

                <form name="newContactForm" role="form" novalidate ng-submit="settingsController.saveNewContact()">
                    <div csrs-contact-form-guts="settingsController.newContact"></div>

                    <div csrs-error-occurred="contactForm.newContactError"></div>
                            
                    <button type="submit" class="btn btn-primary">
                        <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
