target
node
elm-stuff
node_modules
.idea
*.iml
.classpath
.project
.settings
.tmp
.merge_file*
.sass-cache
.DS_Store
lombok.jar
src/main/generated
src/main/webapp/dist
src/main/webapp/scripts
.gradle
run
workbench.xmi
*.swp
build
