<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="#{email.passwordReset.title}">CSRS Password Reset</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>

    <body>
        <p th:text="#{email.passwordReset.text1}">
            This is the token which someone (hopefully you) requested to
            reset your password at the membership web-site for the Canadian
            Society for Renaissance Studies.
        </p>
      
        <th:block th:each="userEmail : ${email.userEmails.?[user != null]}"> 
            <p> 
                <span th:utext="#{email.passwordReset.toResetPasswordFollowLink(${userEmail.user.login}, @{|${baseUrl}/#!/invitation/${userEmail.userEmailActivations[0].activationKey}|})}">
                    To reset your password for account 'rgrempel', follow <a href="/invitation/2348272">this link</a>.
                </span>
            </p>
            
            <p>
                <span th:text="#{email.passwordReset.hateLinks}">
                    If you don't like clicking on links in emails, then go back to the page where you
                    requested the token, and use the following code:
                </span>

                <span th:text="${userEmail.userEmailActivations[0].activationKey}">2348272</span>
            </p>
        </th:block>

        <th:block th:if="${email.userEmails.?[user != null].size() == 0}">                
            <p th:text="#{email.passwordReset.noUserFound}">
                We didn't find an existing user linked to this email address. However, you can create a new
                account if you like.
            </p>

            <th:block th:each="userEmail : ${email.userEmails.?[user == null]}"> 
                <p> 
                    <span th:utext="#{email.accountCreation.toCreateAccountFollowLink(@{|${baseUrl}/#!/invitation/${userEmail.userEmailActivations[0].activationKey}|})}">
                        To create a new account, follow <a href="/invitation/2348272">this link</a>.
                    </span>
                </p>
                
                <p>
                    <span th:text="#{email.accountCreation.hateLinks}">
                        If you don't like clicking on links in emails, then go back to the page where you
                        requested the invitation, and use the following code:
                    </span>

                    <span th:text="${userEmail.userEmailActivations[0].activationKey}">2348272</span>
                </p>
            </th:block>
        </th:block>

        <p>
            <span th:text="#{email.accountCreation.text2}">Sincerely yours, </span>
        </p>

        <p>
            <em th:text="#{email.signature}">Canadian Society for Renaissance Studies</em>
        </p>
    </body>
</html>
