<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title" translate="csrsApp.processForms.annualData">Annual Data</h3>
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th class="col-xs-1 col-md-1 col-lg-1" translate="csrsApp.annual.year">Year</th>
                <th class="col-xs-3 col-md-3 col-lg-2 text-center" translate="csrsApp.annual.membership">Membership Status</th>
                <th class="col-xs-1 col-md-1 col-lg-1" translate="csrsApp.annual.iter">ITER</th>
                <th class="col-xs-3 col-md-3 col-lg-2 text-center" translate="csrsApp.annual.rr">Renaissance and Reformation</th>
                <th class="col-xs-4 col-md-2 col-lg-1 text-center">
                </th>
            </tr>
        </thead>
        
        <tbody>
            <tr ng-repeat="annual in annualsCtrl.contact.annuals | orderBy: '-year' track by annual.id" class="animate-fade">
                <td style="vertical-align: middle;">
                    <span ng-hide="annual.editMode" ng-bind="annual.year"></span>
                    <input ng-show="annual.editMode" ng-model="annual.year" type="number" style="width: 4em;" />
                </td>
                
                <td style="vertical-align: middle;">
                    <span ng-hide="annual.editMode" translate="csrsApp.annual.data.membership.{{annual.membership}}">Membership Status</span>
                    <select ng-show="annual.editMode" ng-model="annual.membership" ng-options="'csrsApp.annual.data.membership.' + item | translate for item in [0, 1, 2, 3, 4, 5]"></select>
                </td>

                <td style="vertical-align: middle;">
                    <span ng-show="annual.iter &amp;&amp; !annual.editMode" class="glyphicon glyphicon-ok"></span>
                    <input ng-show="annual.editMode" ng-model="annual.iter" type="checkbox" />
                </td>

                <td style="vertical-align: middle;">
                    <span ng-hide="annual.editMode" translate="csrsApp.annual.data.rr.{{annual.rr}}">Renaissance and Reformation</span>
                    <select ng-show="annual.editMode" ng-model="annual.rr" ng-options="'csrsApp.annual.data.rr.' + item | translate for item in [0, 1, 2]"></select>
                </td>

                <td style="vertical-align: middle;" class="text-right">
                    <div class="btn-group" ng-hide="annual.editMode">
                        <button ng-click="annualsCtrl.edit(annual)" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-pencil"></span></button>
                        <button style="margin-left: 4px;" ng-click="annualsCtrl.confirmDelete(annual)" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-trash"></span></button>
                    </div>

                    <div class="btn-group" ng-show="annual.editMode">
                        <button ng-click="annualsCtrl.commit(annual)" class="btn btn-success btn-xs"><span class="glyphicon glyphicon-ok"></span></button>
                        <button style="margin-left: 4px;" ng-click="annualsCtrl.cancel(annual)" class="btn btn-warning btn-xs"><span class="glyphicon glyphicon-remove"></span></button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="panel-footer">
        <div class="alert alert-danger text-left" ng-show="annualsCtrl.error">
            <h4 translate="global.messages.error.occurred">An Error Occurred</h4>
            <div ng-bind="annualsCtrl.error">Error details</div>
        </div>
        
        <button ng-click="annualsCtrl.createAnnual()" class="btn btn-info btn-sm">
            <span class="glyphicon glyphicon-plus"></span>
        </button>
    </div>
</div>
