<div class="container col-xs-12">
    <div class="row">
        <div csrs-form-group class="col-xs-2">
            <label translate="csrsApp.contact.salutation">Salutation</label>
            <input csrs-form-control type="text" name="salutation" ng-model="guts.contact.salutation" />
        </div>
        <div csrs-form-group class="col-xs-5">
            <label translate="csrsApp.contact.firstName">First Name</label>
            <input csrs-form-control type="text" name="firstName" ng-model="guts.contact.firstName" />
        </div>
        <div csrs-form-group class="col-xs-5">
            <label translate="csrsApp.contact.lastName">Last Name</label>
            <input csrs-form-control required type="text" name="lastName" ng-model="guts.contact.lastName" />
            <span csrs-help-block="required" translate="global.messages.validate.required">Required</span>
        </div>
    </div>

    <div class="row">
        <div csrs-form-group class="col-xs-12">
            <label translate="csrsApp.contact.street">Street</label>
            <textarea csrs-form-control name="street" rows="3" ng-model="guts.contact.street"></textarea>
        </div>
    </div>
        
    <div class="row">
        <div csrs-form-group class="col-xs-4">
            <label translate="csrsApp.contact.city">City</label>
            <input type="text" csrs-form-control name="city" ng-model="guts.contact.city" />
        </div>
        
        <div csrs-form-group class="col-xs-4">
            <label translate="csrsApp.contact.region">Region</label>
            <input type="text" csrs-form-control name="region" ng-model="guts.contact.region" />
        </div>
        
        <div csrs-form-group class="col-xs-4">
            <label translate="csrsApp.contact.country">Country</label>
            <input type="text" csrs-form-control name="country" ng-model="guts.contact.country" />
        </div>
    </div>

    <div class="row">
        <div csrs-form-group class="col-xs-6">
            <label translate="csrsApp.contact.postalCode">Postal Code</label>
            <input type="text" csrs-form-control name="postalCode" ng-model="guts.contact.postalCode" />
        </div>

        <div csrs-form-group class="col-xs-6">
            <label translate="csrsApp.contact.email">Email</label>
            <input csrs-form-control type="email" name="email" ng-model="guts.contact.email" />
            <p csrs-help-block="email" translate="global.messages.validate.invalid">Invalid</p>
        </div>
    </div>

    <div class="row">
        <div csrs-form-group class="col-xs-6">
            <div>
                <strong translate="csrsApp.contact.omitNameFromDirectory">Omit name from directory</strong>
            </div>
            
            <div class="btn-group">
                <button type="button"
                        ng-click="guts.contact.omitNameFromDirectory = true"
                        ng-class="{'btn': true, 'btn-default': true, 'active': guts.contact.omitNameFromDirectory}"
                        translate="csrsApp.contact.data.omit">Omit</button>
                
                <button type="button" 
                        ng-click="guts.contact.omitNameFromDirectory = false"
                        ng-class="{'btn': true, 'btn-default': true, 'active': !guts.contact.omitNameFromDirectory}"
                        translate="csrsApp.contact.data.include">Include</button>
            </div>
        </div>
        
        <div csrs-form-group class="form-inline col-xs-6">
            <div>
                <strong translate="csrsApp.contact.omitEmailFromDirectory">Omit email from directory</strong>
            </div>
            
            <div class="btn-group">
                <button type="button"
                        ng-click="guts.contact.omitEmailFromDirectory = true"
                        ng-class="{'btn': true, 'btn-default': true, 'active': guts.contact.omitEmailFromDirectory}"
                        translate="csrsApp.contact.data.omit">Omit</button>
                
                <button type="button" 
                        ng-click="guts.contact.omitEmailFromDirectory = false"
                        ng-class="{'btn': true, 'btn-default': true, 'active': !guts.contact.omitEmailFromDirectory}"
                        translate="csrsApp.contact.data.include">Include</button>
            </div> 
        </div>
    </div>
    
    <div class="row">
        <div csrs-form-group class="col-xs-6">
            <label translate="csrsApp.contact.department">Department</label>
            <input type="text" csrs-form-control name="department" ng-model="guts.contact.department" />
        </div>

        <div csrs-form-group class="col-xs-6">
            <label translate="csrsApp.contact.affiliation">Affiliation</label>
            <input type="text" csrs-form-control name="affiliation" ng-model="guts.contact.affiliation" />
        </div>
    </div>
</div>
