<div class="container col-xs-12">
    <div class="row">
        <div class="form-group col-xs-2">
            <label translate="csrsApp.contact.salutation">Salutation</label>
            <input type="text" class="form-control" name="salutation" ng-model="guts.contact.salutation" />
        </div>
        <div class="form-group col-xs-5">
            <label translate="csrsApp.contact.firstName">First Name</label>
            <input type="text" class="form-control" name="firstName" ng-model="guts.contact.firstName" />
        </div>
        <div class="form-group col-xs-5">
            <label translate="csrsApp.contact.lastName">Last Name</label>
            <input type="text" class="form-control" name="lastName" ng-model="guts.contact.lastName" />
        </div>
    </div>

    <div class="row">
        <div class="form-group col-xs-12">
            <label translate="csrsApp.contact.street">Street</label>
            <textarea class="form-control" name="street" rows="3" ng-model="guts.contact.street" />
        </div>
    </div>
        
    <div class="row">
        <div class="form-group col-xs-4">
            <label translate="csrsApp.contact.city">City</label>
            <input type="text" class="form-control" name="city" ng-model="guts.contact.city" />
        </div>
        
        <div class="form-group col-xs-4">
            <label translate="csrsApp.contact.region">Region</label>
            <input type="text" class="form-control" name="region" ng-model="guts.contact.region" />
        </div>
        
        <div class="form-group col-xs-4">
            <label translate="csrsApp.contact.country">Country</label>
            <input type="text" class="form-control" name="country" ng-model="guts.contact.country" />
        </div>
    </div>

    <div class="row">
        <div class="form-group col-xs-6">
            <label translate="csrsApp.contact.postalCode">Postal Code</label>
            <input type="text" class="form-control" name="postalCode" ng-model="guts.contact.postalCode" />
        </div>

        <div class="form-group col-xs-6">
            <label translate="csrsApp.contact.email">Email</label>
            <input type="email" class="form-control" name="email" ng-model="guts.contact.email" />
        </div>
    </div>
    
    <div class="row">
        <div class="form-group col-xs-6">
            <label translate="csrsApp.contact.department">Department</label>
            <input type="text" class="form-control" name="department" ng-model="guts.contact.department" />
        </div>

        <div class="form-group col-xs-6">
            <label translate="csrsApp.contact.affiliation">Affiliation</label>
            <input type="text" class="form-control" name="affiliation" ng-model="guts.contact.affiliation" />
        </div>
    </div>
</div>
