<div class="well" style="display: inline-block; vertical-align: top;">
    <div csrs-contact-label="detail.contact"></div>
   
    <div style="margin-top: 12px;" class="text-center">
        <button class="btn btn-primary" ng-click="detail.startEditing()">
            <span class="glyphicon glyphicon-pencil"></span>
        </button>

        <button style="margin-left: 6px;" class="btn btn-danger" ng-click="detail.confirmDelete()">
            <span class="glyphicon glyphicon-trash"></span>
        </button>
    </div>
</div>

<div csrs-contact-interests="detail.contact" class="well" style="display: inline-block; margin-left: 18px; vertical-align: top;"></div>

<div csrs-contact-annuals="detail.contact" class="well"></div>

