<div class="row">
    <div csrs-error-occurred="settingsController.contactsError" class="col-xs-12"></div>
</div>

<div ng-show="settingsController.gotContacts">
    <div ng-show="settingsController.contacts.length > 0">
        <div ng-repeat="contact in settingsController.contacts">
            <div class="row">
                <div class="col-xs-6">
                    <div class="panel panel-default">
                        <div class="panel-heading clearfix">
                            <h3 class="panel-title" translate="csrsApp.processForms.contactInformation">Contact Information</h3>
                        </div>

                        <div class="panel-body">
                            <div csrs-contact-label="contact"></div>
                        </div>

                        <div class="panel-footer">
                            <button class="btn btn-primary btn-sm pull-right" ng-click="settingsController.startEditing(contact)">
                                <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit">Edit</span>
                            </button>
                            <div class="clearfix vertical-align-middle" translate="csrsApp.contact.home.pleaseEdit">Please edit if needed.</div>
                        </div>
                    </div>
                </div>

                <div csrs-contact-interests="contact" class="col-xs-6 col-sm-6 col-md-5 col-lg-4"></div>

                <div class="col-xs-6 col-sm-6 col-md-5 col-lg-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title" translate="csrsApp.contact.emailAddresses">Email Addresses</h3>
                        </div>
                            
                        <table class="table table-striped">
                            <tbody>
                                <tr class="animate-fade" ng-repeat="contactEmail in contact.contactEmails">
                                    <td class="vertical-align-middle" ng-bind="contactEmail.email.emailAddress">rgrempel@gmail.com</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-12 col-md-9 col-lg-8">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <span class="panel-title vertical-align-middle">
                                <em class="pull-right" translate="settings.renewals.comingSoon">Online renewals coming soon</em>
                                <span class="text-bold" translate="csrsApp.processForms.annualData">Annual Data</span>
                            </span>
              
<!--
                            <span class="btn-group button-space-left">
                                <button type="button" class="btn btn-success" ng-click="settingsController.renew(contact)">
                                    <span class="text-bold" translate="csrsApp.renewal.joinOrRenew">Join / Renew</span>
                                </button>
                            </span>
-->
                        </div>

                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th class="col-xs-1 col-md-1 col-lg-1" translate="csrsApp.annual.year">Year</th>
                                    <th class="col-xs-3 col-md-3 col-lg-2 text-center" translate="csrsApp.annual.membership">Membership Status</th>
                                    <th class="col-xs-1 col-md-1 col-lg-1" translate="csrsApp.annual.iter">ITER</th>
                                    <th class="col-xs-3 col-md-3 col-lg-2 text-center" translate="csrsApp.annual.rr">Renaissance and Reformation</th>
                                    <th class="col-xs-4 col-md-2 col-lg-1 text-center">
                                    </th>
                                </tr>
                            </thead>
                            
                            <tbody>
                                <tr ng-repeat="annual in contact.annuals | orderBy: '-year' track by annual.id">
                                    <td class="vertical-align-middle" ng-bind="annual.year">2015</td>
                        
                                    <td class="vertical-align-middle" translate="csrsApp.annual.data.membership.{{annual.membership}}">Membership Status</td>

                                    <td class="vertical-align-middle">
                                        <span ng-show="annual.iter" class="glyphicon glyphicon-ok"></span>
                                    </td>

                                    <td class="vertical-align-middle" translate="csrsApp.annual.data.rr.{{annual.rr}}">Renaissance and Reformation</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" ng-hide="settingsController.contacts.length > 0">
        <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6">
            <form name="newContactForm" role="form" novalidate ng-submit="settingsController.saveNewContact()">
                <div class="panel panel-default">
                    <div class="panel-heading" translate="csrsApp.contact.home.pleaseProvide">Please provide your contact information.</div>

                    <div class="panel-body">
                        <div csrs-contact-form-guts="settingsController.newContact"></div>
                    </div>

                    <div class="panel-footer">
                        <div csrs-error-occurred="contactForm.newContactError"></div>

                        <div style="text-align: right;">
                            <button type="submit" class="btn btn-success">
                                <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
