.process-forms-search-box {
    padding-left: 12px;
    padding-right: 12px;
}

.process-forms-detail-delete {
    margin-left: 6px;
}

.process-forms-detail-remove-interest {
    margin-left: 4px;
}

.process-forms-annual-year-input {
    width: 4em;
}

.contact-form-guts label {
    margin-top: 0px;
    width: 100%;
}

.contact-form-guts legend {
    /* Duplicate label */
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: bold;

    /* Cancel some bootstrap defaults */
    font-size: 100%;
    color: black;
    border-bottom: none;
}
