<div csrs-modal>
    <div class="modal-header">
        <button type="button" class="close" ng-click="deleteAnnualController.cancel()" aria-hidden="true">&times;</button>
        <h4 class="modal-title" translate="entity.delete.title">Confirm Delete Operation</h4>
    </div>

    <div class="modal-body">
        <p translate="csrsApp.annual.delete.question" translate-values="{name: '{{deleteAnnualController.contact.firstName}} {{deleteAnnualController.contact.lastName}}', year: '{{deleteAnnualController.annual.year}}'}">Are you sure you want to delete the 1995 entry for Paul Dyck?</p>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="deleteAnnualController.cancel()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>

        <button type="submit" class="btn btn-danger" ng-click="deleteAnnualController.doDelete()">
            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete">Delete</span>
        </button>
    </div>
</div>
