<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title" translate="csrsApp.contact.emailAddresses">Email Addresses</h3>
    </div>
        
    <table class="table table-striped">
        <tbody>
            <tr class="animate-fade" ng-repeat="contactEmail in emailCtrl.contact.contactEmails">
                <td class="vertical-align-middle" ng-bind="contactEmail.email.emailAddress">rgrempel@gmail.com</td>

                <td class="text-right vertical-align-middle">
                    <button class="btn btn-danger btn-xs" ng-click="emailCtrl.confirmDelete(contactEmail)">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                </td>
            </tr>

            <tr ng-show="emailCtrl.editMode" class="col-xs-12">
                <td colspan="2">
                    <form novalidate role="form" name="newEmailForm" ng-submit="emailCtrl.commit()">
                        <div csrs-form-group>
                            <div class="input-group">
                                <input csrs-form-control required type="email" ng-model="emailCtrl.newAddress" />
                                
                                <span class="input-group-btn">
                                    <button type="submit" class="btn btn-success btn-xs"><span class="glyphicon glyphicon-ok"></span></button>
                                </span>
                                
                                <span class="input-group-btn button-space-left">
                                    <button type="button" ng-click="emailCtrl.cancel()" class="btn btn-warning btn-xs"><span class="glyphicon glyphicon-remove"></span></button>
                                </span>
                            </div>
                            
                            <p csrs-help-block="email" translate="global.messages.validate.invalid">Invalid</p>
                            <p csrs-help-block="required" translate="global.messages.validate.required">Required</p>
                        </div>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="panel-footer text-left">
        <div csrs-error-occurred="emailCtrl.error"></div>

        <button class="btn btn-info btn-sm" ng-click="emailCtrl.create()">
            <span class="glyphicon glyphicon-plus"></span>
        </button>
    </div>
</div>
