<div class="panel panel-default">
    <div class="panel-heading clearfix">
        <div class="pull-right">
            <span translate="tasks.processForms.contactVerification.lastVerified">Last verified: </span>

            <span
                ng-hide="verificationCtrl.contact.lastVerified"
                translate="tasks.processForms.contactVerification.never"
            >Never</span>

            <span
                ng-show="verificationCtrl.contact.lastVerified"
                am-time-ago="verificationCtrl.contact.lastVerified"
            >5 minutes ago</span>
        </div>

        <h3 class="panel-title" translate="tasks.processForms.contactVerification.verification">Verification</h3>
    </div>

    <div class="panel-body" ng-if="verificationCtrl.show()">
        <div translate="tasks.processForms.contactVerification.body" >
            We would like your help to keep our database
            accurate. Please review the information below,
            and edit it if necessary. Once you are
            satisified, please click on the "Mark Verified"
            button to let us know that we've got the right
            information.
        </div>
        <div ng-show="
            !verificationCtrl.contact.street ||
            !verificationCtrl.contact.city ||
            !verificationCtrl.contact.region ||
            !verificationCtrl.contact.postalCode ||
            !verificationCtrl.contact.department ||
            !verificationCtrl.contact.affiliation
        " style="margin-top: 6pt;">
            <span translate="tasks.processForms.contactVerification.considerAdding">Consider adding:</span>

            <ul>
                <li ng-show="!verificationCtrl.contact.street" translate="csrsApp.contact.street">Street</li>
                <li ng-show="!verificationCtrl.contact.city" translate="csrsApp.contact.city">City</li>
                <li ng-show="!verificationCtrl.contact.region" translate="csrsApp.contact.region">Region</li>
                <li ng-show="!verificationCtrl.contact.postalCode" translate="csrsApp.contact.postalCode">Postal Code</li>
                <li ng-show="!verificationCtrl.contact.department" translate="csrsApp.contact.department">Department</li>
                <li ng-show="!verificationCtrl.contact.affiliation" translate="csrsApp.contact.affiliation">Affiliation</li>
            </ul>
            <!-- Interests -->
        </div>
    </div>

    <div class="panel-footer" ng-if="verificationCtrl.show()">
        <button class="btn btn-primary btn-sm" ng-click="verificationCtrl.markVerified(contact)">
            <span class="glyphicon glyphicon-ok"></span>&nbsp;<span translate="tasks.processForms.contactVerification.markVerified">Mark Verified</span>
        </button>
    </div>
</div>
