<div class="row">
    <div class="col-xs-6">
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <h3 class="panel-title" translate="csrsApp.processForms.contactInformation">Contact Information</h3>
            </div>

            <div class="panel-body">
                <div csrs-contact-label="detail.contact"></div>
            </div>

            <div class="panel-footer text-right">
                <div class="btn-group">
                    <button class="btn btn-primary btn-sm" ng-click="detail.startEditing()">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </button>

                    <button class="btn btn-danger btn-sm process-forms-detail-delete" ng-click="detail.confirmDelete()">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div csrs-contact-interests="detail.contact" class="col-xs-6 col-sm-6 col-md-5 col-lg-4"></div>

    <div csrs-contact-email="detail.contact" class="col-xs-6 col-sm-6 col-md-5 col-lg-4"></div>
</div>

<div csrs-error-occurred="detail.error" class="col-xs-12"></div>

<div class="row">
    <div csrs-contact-annuals="detail.contact" class="col-xs-12"></div>
</div>
