.multi-line {
    white-space: pre-line;
}

.contact-list {
    padding: 8px;
}

.well {
    padding: 12px;
}

.csrs-logo {
    display: inline-block;
    width: 347px;
    height: 390px;
    background: url("../images/csrs-logo-colour.jpg") no-repeat center top;
    background-size: contain;
}


