.multi-line {
    white-space: pre-line;
}

.help-block {
    margin-bottom: 0px;
}

.navbar-xs { 
    min-height: 40px;
    height: 40px;
    margin-bottom: 12px;
}

.navbar-xs .navbar-brand {
    padding: 6px 12px;
    font-size: 16px;
    line-height: 28px;
}

.navbar-xs .navbar-nav > li > a {
    padding-top: 6px; 
    padding-bottom: 6px; 
    line-height: 28px;
}

.contact-list {
    padding: 8px;
}

.translation-message {
    font-size: 80%;
}

.csrs-logo {
    display: inline-block;
    width: 347px;
    height: 390px;
    background: url("../images/csrs-logo-colour.jpg") no-repeat center top;
    background-size: contain;
}

.well .panel-default > .panel-heading {
    background-color: #e8e8e8;
}

.well .panel-default > .panel-footer {
    background-color: #e8e8e8;
}

.voffset4  { margin-top:  4px; }
.voffset6  { margin-top:  6px; }
.voffset8  { margin-top:  8px; }
.voffset12 { margin-top: 12px; }
.voffset16 { margin-top: 16px; }
.voffset18 { margin-top: 18px; }
.voffset24 { margin-top: 24px; }

