.multi-line {
    white-space: pre-line;
}

.contact-list {
    padding: 8px;
}

.well {
    padding: 12px;
}

.csrs-logo {
    display: inline-block;
    width: 347px;
    height: 390px;
    background: url("../images/csrs-logo-colour.jpg") no-repeat center top;
    background-size: contain;
}

.voffset4  { margin-top:  4px; }
.voffset6  { margin-top:  6px; }
.voffset8  { margin-top:  8px; }
.voffset12 { margin-top: 12px; }
.voffset16 { margin-top: 16px; }
.voffset18 { margin-top: 18px; }
.voffset24 { margin-top: 24px; }

