.contact-list
    h2(translate = "csrsApp.contact.home.title") Contacts

    table(class = "table table-striped table-bordered")
        tr
            th(translate = "csrsApp.annual.year") Year
            th(
                ng-repeat = "membership in contactList.membershipTypes"
                translate = "csrsApp.annual.data.membership.{{membership}}"
            )
            th(translate = "global.total") Total

        tr(
            ng-repeat = "year in contactList.years" 
        )
            td.year(
                ng-bind = "year.year"
                ng-click = "contactList.cycleRequired(year.year)"
                ng-class = [
                    "{",
                        "'success': contactList.isRequired(year.year),",
                        "'danger':  contactList.isForbidden(year.year)",
                    "}"
                ].join("")
            )
            td(
                ng-repeat = "membership in contactList.membershipTypes"
                ng-bind = "year.memberships[membership].length"
            )
            td(ng-bind = "year.total")

    div(
        ng-repeat = "contact in contactList.filtered track by contact.id"
    )
        a(
            ui-sref = "processFormsDetail({id: contact.id})"
            ng-bind = "::contact.fullName()"
        )
