.csrs-price-container {
    display: table-cell;
    width: 88px;
    vertical-align: middle;
}

.csrs-price-box {
    border: 2px solid black;
    width: 60px;
    height: 60px;
    margin-left: 14px;
    text-align: center;
    display: table;
}

.csrs-price {
    margin-top: auto;
    margin-bottom: auto;
    font-weight: bold;
    display: table-cell;
    vertical-align: middle;
}

