.csrs-price-container {
    display: table-cell;
    width: 88px;
    vertical-align: middle;
}

.product-variable {
    margin-left: 24px;
    margin-bottom: 3px;
}

.product-value-checkbox {
    width: 24px;
    min-width: 24px;
    cursor: pointer;
    font-size: 1em;
}

.product-value-list-item {
    cursor: pointer;
}

.product-value-price {
    width: 68px;
    cursor: pointer;
}

.product-picker {
    display: table;
    width: 100%;
}

.product-picker-left {
    display: table-cell;
    vertical-align: top;
}

.product-picker-heading {
    width: 24px;
    margin-bottom: 4px
}

.product-picker-title {
    margin-bottom: 4px;
}

.csrs-price-box {
    border: 2px solid black;
    width: 60px;
    height: 60px;
    margin-left: 14px;
    text-align: center;
    display: table;
}

.csrs-price {
    margin-top: auto;
    margin-bottom: auto;
    font-weight: bold;
    display: table-cell;
    vertical-align: middle;
}

