<div style="display: table; width: 100%;">
    <!-- Left side ... list of choices ... -->
    <div style="display: table-cell; vertical-align: top;">
        <h4 style="width: 24px; margin-bottom: 4px;" class="pull-left text-right">
            <span ng-bind="productPicker.getHeading()">A.</span>&nbsp;
        </h4>
        
        <h4 style="margin-bottom: 4px;" translate="{{productPicker.getProductCode()}}">Membership</h4>

        <div class="clearfix"
             csrs-product-variable-picker="productVariable"
             csrs-parent="productPicker"
             csrs-product-value-picked="productPicker.valuesPicked[productVariable.id]"
             ng-repeat="productVariable in productPicker.getProductVariables() | orderBy: 'order'">
        
         </div>
    </div>

    <!-- Right side ... shows what we've picked ... -->
    <div class="csrs-price-container">
        <div class="flip-change csrs-price-box" csrs-animate-on-change="productPicker.pricePicked.priceInCents">
            <div class="csrs-price" ng-bind="productPicker.pricePicked.priceInCents | price">$100</div>
        </div>
    </div>
</div>

