<div class="product-variable">
    <em translate="global.form.select" translate-values="{
        type: '{{productVariablePicker.productVariable.code | translate}}'
    }">Select Membership type</em>
</div>
    
<div class="clearfix" ng-repeat="productValue in productVariablePicker.productVariable.productValues | orderBy: 'order'">    
    <div class="pull-left product-value-checkbox" ng-click="productVariablePicker.selectProductValue(productValue)">
        <span ng-show="productVariablePicker.isProductValueSelected(productValue)" class="glyphicon glyphicon-ok"></span>
        <span ng-hide="productVariablePicker.isProductValueSelected(productValue)">&nbsp;</span>
    </div>

    <div class="pull-right text-right product-value-price" 
         ng-click="productVariablePicker.selectProductValue(productValue)"
         ng-bind="productVariablePicker.priceForProductValue(productValue, $first)">100</div>

    <div>
        <a translate="{{productValue.code}}" 
            ng-bind="productVariablePicker.priceForProductValue(productValue, $first)"
            ng-click="productVariablePicker.selectProductValue(productValue)"
            ng-class="{
                'product-value-list-item': true,
                'text-bold': productVariablePicker.isProductValueSelected(productValue)
            }">Regular member</a>
    </div>
</div>

